@import url('./../../colors.css');

.bgHeader{
    background-color: var(--purple);
    color: var(--white);
    display: flex;
    justify-content: space-between;
}
.bgHeader .logo{
    float: left;
    padding: 10px;
}
.logo img{
    width: 40px;
    height: 40px;
}

.nav-items{
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 8px;
    margin-right: 5px;
    color: var(--white);
}
.btn-stroked{
    padding: 8px;
    margin-right: 5px;
    border: 2px solid var(--white);
    color: var(--white);
    border-radius: 4px;

}

.container{
    height: 75%;
    margin: 5px auto;
    padding-top: 60px;
    text-decoration: none;
}


.text-home{
    color: var(--grayTwo);
    font-size: 28px;
}

.text-home .title{
    text-align: start;
    margin: 6% 0 6%;
    font-size: 50px;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style:italic ;
}
.text-home p{
    color: var(--black);
    line-height: 30px;
    font-weight: 300;
    font-size: 30px;
    font-stretch: condensed;
}
.text-home span{
    color:var(--blue);
}

.container .content-img{
    text-align: center;
    justify-content: center;
}
.container  .content-img .Img{
    margin: auto auto;
    width: 70%;
    height: auto;
}

.content-btn{
    padding: 10px;
    margin-top: 15px;
}
.btn-start{
    display: block;
    width: 40%;
    padding: 5px;
    margin-left: 5px;
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 4px;
}
