:root{
  --gray: #f9f9fa;
  --white: #ffffff;
  --purple: #20123A;
  --black: #000000;
  --grayTwo:  #42414D;
  --blue: #0250BB;
}

body {
  background-color: var(--gray);  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
